.buzz {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;

    &_list {
        background-image: url("../../../images/list.png");
    }

    &_chat {
        background-image: url("../../../images/chat.png");
    }

    &_data {
        background-image: url("../../../images/database.png");
        background-size: 150% 150%;
        background-position: 50% 50%;
    }
}