$primary: #fd5b15;
$secondary: #ed0672;
$dark: #2D1E45;

$foundation-palette: (
    primary: $primary,
    secondary: $secondary,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37,
);

$fast: 0.2s;

$social-brand-facebook: #3b5998;
$social-brand-twitter: #55acee;
$social-brand-linkedin: #007bb5;
$social-brand-youtube: #bb0000;
$social-brand-instagram: #125688;
$social-brand-pinterest: #cb2027;
$social-brand-google-plus: #dd4b39;
$social-brand-github: #000000;
$social-brand-tumblr: #32506d;