.top-menu {
    background-color: $dark;
    color: $white;
    line-height: 4rem;
}

.top-menu__inner {
    background-color: $dark;
    padding: 0;
}

.top-menu__title {
    font-size: 24px;
    font-weight: bold;
}