.input-field {
    position: relative;
    padding-top: 20px;

    &__label {
        position: absolute;
        top: 25px;
        color: $white;
        font-size: 100%;
        transition: $animation-fast top, $animation-fast font-size;
    }

    &__input {
        position: relative;
        z-index: 1;
        color: $white;
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin: 0;
        padding-left: 20px;
        transition: $animation-fast color, $animation-fast border-bottom;
        border-bottom: 2px solid $white;

        &:focus {
            background-color: transparent;
            box-shadow: none;
            padding-left: 0 !important;
            border: none;
            border-bottom: 2px solid $secondary !important;
        }
    }

    &__input:focus + &__label {
        top: 0;
        font-size: 85%;
    }

    &__error {
        position: absolute;
        top: 67px;
        color: $secondary;
    }

    &_has-value {
        .input-field__input {
            border-bottom: 2px solid $primary;
        }
    }

    &_has-error {
        .input-field__input {
            border-bottom: 2px solid $secondary;
        }
    }
}