.spinner {
    display: inline-block;
    vertical-align: top;

    &_active {
        display: inline-block !important;
    }

    &_loading {
        display: flex;
        justify-content: center;

        div {
            width: 1rem;
            height: 1rem;
            margin: 0 0.3rem;
            background: $white;
            border-radius: 50%;
            animation: 0.9s bounce infinite alternate;

            &:nth-child(2) {
                animation-delay: 0.3s;
            }

            &:nth-child(3) {
                animation-delay: 0.6s;
            }
        }
    }

    @keyframes bounce {
        to {
            opacity: 0.3;
            transform: translate3d(0, -1rem, 0);
        }
    }

    &_donut {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 0.3rem solid rgba($white, 0.3);
        border-top-color: $white;
        animation: 0.8s spin infinite ease;
    }

    &_donut-multi {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 0.3rem solid rgba($white, 0.3);
        border-top-color: $white;
        animation: 0.8s spin infinite ease;
        border-bottom-color: $white;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    &_ripple {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 0.3rem solid $white;
        transform: translate(50%);
        animation: 1s ripple ease-out infinite;
    }

    @keyframes ripple {
        from {
            transform: scale(0);
            opacity: 1;
        }

        to {
            transform: scale(1);
            opacity: 0;
        }
    }

    &_multi-ripple {
        width: 2.6rem;
        height: 2.6rem;

        div {
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 0.3rem solid $white;
            animation: 1.5s ripple infinite;

            &:nth-child(2) {
                animation-delay: 0.5s;
            }
        }
    }

    &_fancy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;

        div {
            position: absolute;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;

            &.ring {
                border-width: 0.5rem;
                border-style: solid;
                border-color: transparent;
                animation: 2s fancy infinite alternate;

                &:nth-child(1) {
                    border-left-color: $white;
                    border-right-color: $white;
                }

                &:nth-child(2) {
                    border-top-color: $white;
                    border-bottom-color: $white;
                    animation-delay: 1s;
                }
            }

            &.dot {
                width: 1rem;
                height: 1rem;
                background: $white;
            }
        }
    }

    @keyframes fancy {
        to {
            transform: rotate(360deg) scale(0.5);
        }
    }
}