.block-style {
    color: $white;

    &__size {
        margin-bottom: 1rem;

        &-label {
            font-weight: bold;
        }

        &-value {
            display: inline-block;
        }

        &-setting {
            display: inline-block;
        }
    }

    .button-group {
        margin-bottom: 0;
    }
}