.block-style {
    color: $white;

    &__size {
        margin-bottom: 1rem;

        &-label {
            font-weight: bold;
        }

        &-value {
            display: inline-block;
        }

        &-setting {
            display: inline-block;
        }
    }

    .button-group {
        margin-bottom: 0;
    }

    &__add-row {
        margin-top: 1rem;

        select, input {
            width: calc(100% - 67px);
        }

        button {
            max-width: 62px;
            max-height: 39px;
            display: inline-block;
            vertical-align: top;
            padding: 0.2rem 1rem;
        }
    }
}