.components-menu {
    min-height: calc(100vh - 4rem);
    background-color: $dark;

    &__header {
        color: $white;
        padding: 0.7rem 1rem;
        font-weight: bold;
        display: block;
    }

    &__item {
        background-color: $dark;
    }

    &__link {
        color: $white;
    }

    &__icon {
        float: right;
    }
}