.edit-modal {
    padding: 0.7rem 1rem;
    color: $white;

    label {
        color: $white;
    }

    h4 {
        font-size: 1rem;
        font-weight: bold;
        color: $white;
    }

    &__delete-row {
        margin-top: 1rem;

        select, input {
            width: calc(100% - 43px);
            display: inline-block;
        }

        button {
            max-width: 43px;
            max-height: 39px;
            display: inline-block;
            vertical-align: top;
            padding: 0.2rem 1rem;
        }
    }
}