.screens-pager {
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
    text-align: center;
    background-color: $light-gray;

    &__inner {
        margin: 0;
        background-color: $white;
        display: inline-block;
        padding: 0.46875rem;

        .screens-pager__delete {
            display: none;
        }

        li {
            position: relative;

            &:hover {
                .screens-pager__delete {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 28px;
                    width: 100%;
                    background-color: $secondary;
                    z-index: 1;
                }
            }
        }
    }

    .pagination-previous a::before, .pagination-next a::after {
        margin: 0;
    }
}