.sidebar-menu {
    background-color: $dark;

    &__header {
        color: $white;
        padding: 0.7rem 1rem;
        font-weight: bold;
        display: block;
    }

    &__item {
        background-color: $dark;
    }

    &__link {
        color: $white;
    }

    &__icon {
        float: right;
    }

    &__form-section {
        padding: 0.7rem 1rem;

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            padding-bottom: 0;
        }

        label {
            color : $white;
            font-weight: bold;
        }
    }

    &__date-from, &__date-to {
        width: 50%;
    }
}