.statistics-report {
    min-height: calc(100vh - 4rem);

    &__block-statistics {
        margin-top: 1rem;
    }

    &__block-header {
        border-bottom: solid 2px $primary;
    }

    &__block-header {
        font-size: 1.25rem;
    }

    &__block-option {
        margin-top: 0.5rem;
        text-align: left;

        &-label {
            cursor: pointer;
            color: $secondary;
        }

        &-filter {
            opacity: 0.3;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &_active {
                color: $primary;
                opacity: 1;
            }
        }
    }

    &__block-option-count {
        margin-top: 0.5rem;
        text-align: right;
    }

    &__samples-list .button {
        margin-right: 0.5rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}