.login-page {
    height: 100%;

    &__body {
        height: 100%;
        background-image: url('../../../images/sky-bg-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    &__wrapper {
        height: 100%;
    }
}