.top-menu {
    background-color: $dark;
    color: $white;

    &__inner {
        background-color: $dark;
        padding: 0;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        display: inline-block;
        line-height: 4rem;
    }

    &__logo {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        vertical-align: top;
        padding: 0.5rem;
    }
}
