.top-menu {
    background-color: $dark;
    color: $white;
    position: relative;
    z-index: 10;

    &__inner {
        background-color: $dark;
        padding: 0;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        display: inline-block;
        line-height: 4rem;
    }

    &__logo {
        width: 3rem;
        height: 4rem;
        display: inline-block;
        vertical-align: top;
        padding: 0.5rem 0;
    }

    &__auth-form {
        display: inline-block;
    }

    &_transparent {
        background-color: transparent;

        .top-menu__inner {
            background-color: transparent;
        }
    }
}
