.button-wrapper {
    position: relative;
    display: block;

    &:focus {
        outline: none;
    }

    .button {
        background-color: inherit !important;
    }
}

.button {
    position: relative;
    display: block;
    z-index: 20;
}