.button-wrapper {
    position: relative;
    display: block;

    &:focus {
        outline: none;
    }

    .button {
        background-color: inherit;
    }
}

.button {
    position: relative;
    display: block;
    z-index: 20;
    text-align: inherit;
}