.container-wrapper {
    position: relative;

    .block-edit-menu {
        position: absolute;
        right: 0;
        top: 0;
    }

    &:focus {
        outline: none;
    }

    .container__slot_empty {
        border: 0.18rem dashed $medium-gray;

        h4 {
            font-size: 1rem;
            text-align: center;
            color: $medium-gray;
            line-height: 4rem;
        }
    }
}

.container {
    background-color: $white;
}
