.container-wrapper {
    position: relative;
    max-width: 100%;

    &:focus {
        outline: none;
    }

    &:after {
        content: ' ';
        width: 1rem;
        height: 1rem;
        position: absolute;
        background-color: $secondary;
        outline: 2px dashed $primary;
        cursor: pointer;
        display: block;
        border-radius: 50%;
        left: calc(100% + 0.5rem);
        top: calc(50% - 0.5rem);
    }

    &:hover {
        &:after {
            background-color: $primary;
        }
    }

    &.selected {
        &:after {
            background-color: $primary;
        }
    }

    .container {
        background-color: inherit !important;
    }
}

.container {
    max-width: 100%;
    background-color: $white;
    position: relative;
    z-index: 20;

    &__slot {
        position: relative;
    }
}

body.dragging {
    .container-wrapper {
        .container__slot {
            border: 0.18rem dashed $medium-gray;
            min-height: 3rem;
        }
    }
}