.container-wrapper {
    position: relative;

    .block-edit-menu {
        position: absolute;
        right: 0;
        top: 0;
    }

    &:focus {
        outline: none;
    }

    .container__slot_empty {
        border: 0.18rem dashed $medium-gray;
        min-height: 2rem;
    }
}

.container {
    background-color: $white;
}

body.dragging {
    .container-wrapper {
        .container__slot {
            border: 0.18rem dashed $medium-gray;
            min-height: 6rem;
        }
    }
}