.delimiter-wrapper {
    position: relative;
    display: inline-block;
    z-index: 20;

    &:focus {
        outline: none;
    }
}

.delimiter {
    position: relative;
    z-index: 20;
    margin: 0;
    padding: 0;
}