.header-wrapper {
    position: relative;

    .block-edit-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    &:hover {
        .block-edit-menu {
            display: inline-block;
        }
    }
}

.header {
    background-color: $dark;

    &__image {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        vertical-align: top;
    }

    &__label {
        display: inline-block;
        color: $white;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 3rem;
        vertical-align: top;
        margin: 0;
    }
}