.header-wrapper {
    max-width: 100%;
    position: relative;

    &:focus {
        outline: none;
    }
}

.header {
    max-width: 100%;
    background-color: $dark;

    &__image {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        vertical-align: top;
    }

    &__label {
        display: inline-block;
        color: $white;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 3rem;
        vertical-align: top;
        margin: 0;
    }
}