.image-wrapper {
    position: relative;
    display: inline-block;

    &_no-image {
        display: block;
    }

    .block-edit-menu {
        position: absolute;
        right: 0;
        top: 0;
    }

    &:focus {
        outline: none;
    }
}

.image {

}