.image-wrapper {
    position: relative;
    display: inline-block;

    &_no-image {
        display: block;
    }

    &:focus {
        outline: none;
    }
}

.image {
    &__value {
        width: 100%;
        height: auto;
    }
}