.text-wrapper {
    position: relative;

    &:focus {
        outline: none;
    }

    .text {
        background-color: inherit !important;
    }
}

.text {
    position: relative;
    z-index: 20;

    &__value {
        display: inline-block;
        color: $black;
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 1rem;
    }
}