.text-wrapper {
    position: relative;

    .block-edit-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    &:hover {
        .block-edit-menu {
            display: inline-block;
        }
    }
}

.text {
    background-color: $white;

    &__value {
        display: inline-block;
        color: $black;
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 1rem;
    }
}