.text-field-wrapper {
    position: relative;
    z-index: 20;

    &:focus {
        outline: none;
    }

    > .text-field {
        background-color: inherit;
        width: 100%;
        height: 100%;
    }
}

.text-field {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 1rem;
    position: relative;
    z-index: 20;

    &__value {
        display: block;
        margin: 0;
    }
}